.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 30px; 
    background-color: white !important;
    border-bottom: 1px solid grey;
  }
  
  .logo-container {
    flex-shrink: 0; 
    margin-right: 20px; 
  }
  
  .logo {
    max-height: 50px; 
    color: black !important;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    flex-grow: 1; 
    justify-content: flex-start; 
    margin-left: 0; 
  }
  
  .nav-menu-right {
    display: flex;
    align-items: center;
    margin-left: auto; 
    margin-right: 80px;
  }
  
  .nav-item,
  .dropdown {
    margin: 0 10px; 
    text-decoration: none;
    color: black !important;
    font-size: 16px !important;
  }
 
  
  .nav-item:hover,
  .dropdown button:hover {
    color: #007bff;
  }
  
  .cart {
    font-size: 16px !important;
    color: black !important;
    margin-left: 15px; 
  }
  
  .cart:hover {
    color: #007bff;
  }
  
  .dropdown {
    position: relative;
   
  }
  
  .dropdown button {
    background: none;
    border: none;
    color: black !important;
    cursor: pointer;
    font-size: 16px !important;
  }
  
  .dropdown-content {
    position: absolute;
    background-color: #fff !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 10px; 
    overflow-y: auto; 
    min-width: 1200px !important; /* Increased width */
    min-height: 300px !important; /* Increased height */
  }
  
  .dropdown-content a {
    color: black !important;
    padding: 8px 12px;
    text-decoration: none;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  } 

  
